# 2 Way ANOVA

In [4]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_excel('CDAC_DataBook.xlsx',sheet_name='salaries')
df

         rank discipline  yrs_phd  yrs_service gender  salary
0        Prof          B       19           18   Male  139750
1        Prof          B       20           16   Male  173200
2    AsstProf          B        4            3   Male   79750
3        Prof          B       45           39   Male  115000
4        Prof          B       40           41   Male  141500
..        ...        ...      ...          ...    ...     ...
392      Prof          A       33           30   Male  103106
393      Prof          A       31           19   Male  150564
394      Prof          A       42           25   Male  101738
395      Prof          A       25           15   Male   95329
396  AsstProf          A        8            4   Male   81035

[397 rows x 6 columns]

In [6]:
import statsmodels
from statsmodels import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

In [9]:
mydf = df[['rank','gender','salary']]

In [13]:
mydf.head()

       rank gender  salary
0      Prof   Male  139750
1      Prof   Male  173200
2  AsstProf   Male   79750
3      Prof   Male  115000
4      Prof   Male  141500

In [10]:
mod1 = ols('salary~rank+gender',data=mydf).fit()

In [11]:
tbl = sm.stats.anova_lm(mod1)

In [12]:
print(tbl)

             df        sum_sq       mean_sq           F        PR(>F)
rank        2.0  1.432318e+11  7.161588e+10  128.382480  1.234599e-43
gender      1.0  8.408166e+08  8.408166e+08    1.507293  2.202874e-01
Residual  393.0  2.192281e+11  5.578322e+08         NaN           NaN

In [14]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [15]:
pairwise_tukeyhsd

In [17]:
print(pairwise_tukeyhsd(mydf.salary,mydf.gender))

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
group1 group2  meandiff  p-adj    lower     upper    reject
-----------------------------------------------------------
Female   Male 14088.0087 0.0057 4131.1074 24044.9101   True
-----------------------------------------------------------

In [18]:
mod1 = ols('salary~rank+gender',data=mydf).fit()

In [19]:
tbl = sm.stats.anova_lm(mod1)

In [20]:
my_std = 45
n = 100

In [21]:
import scipy
from scipy import stats
from scipy.stats import chi2

In [22]:
crit1 = scipy.stats.chi2.ppf(0.025,99)
crit2 = scipy.stats.chi2.ppf(0.975,99)

In [23]:
low_est = ((n-1)/crit2)**0.5*my_std

In [24]:
upper_est = ((n-1)/crit1)**0.5*my_std

In [25]:
low_est

39.51030804317418

In [26]:
upper_est

52.27538648825794

# 1 sample variance test

When we wish to compare the std deviation of a sample against a claim value and establish whether their statistically significant or not.

In [ ]:
# 2 sample Variance test

used to compare the ratio of the variance of two samples and establish whether they are equal or not

In [27]:
s1 = [5,9,8,3,4,7,6,8,9]
s2 = [2,9,8,3,5,7,6,10,12,4]

In [28]:
np.var(s1,ddof=1)

4.777777777777778

In [29]:
np.var(s2,ddof=1)

10.266666666666667

In [30]:
np.var(s1,ddof=1)/np.var(s2,ddof=1)

0.4653679653679653

Ho: both variances are equal OR the ratio of the variances = 1

In [31]:
from scipy.stats import f

In [32]:
p_value = (scipy.stats.f.cdf(np.var(s1,ddof=1)/np.var(s2,ddof=1),len(s1)-1,len(s2)-1))*2
p_value

0.29495626539849634

sample proportion test

compare proportion calculated from a sample to the claim value to establish whether the difference is stats sig or not

consultant claims that out of all the people who get an jobs on DS, atleast 70% of them are engineers.

Ho prop(engg) >= 0.7 
Ha prop(engg) < 0.7

null hypo can be change if you change pov

out of a sample of 270 professionals, 170 were engineers. Does the data support the claim?

In [33]:
170/270

0.6296296296296297

In [34]:
s = (0.6296*(1-0.6296))**0.5
s

0.48291183460337767

In [35]:
low_est = 0.6296 - 1.96*0.4829/270**0.5
low_est

0.5719988180980312

In [36]:
upper_est = 0.6296 + 96*0.4829/270**0.5
upper_est

3.450882378871944

In [ ]:
if your sample size is larger than you can use normal dist also: approx goint to be normal dist

prop calculated from multiple sample will approx follow normal dist

interval estimate for the pop proportion

In [37]:
import statsmodels
from statsmodels.stats import proportion

In [39]:
from statsmodels.stats.proportion import proportions_ztest

In [40]:
statsmodels.stats.proportion.proportions_ztest(170,270,0.7, alternative = 'smaller')

(-2.3944789436878944, 0.008321999540908103)

p-value is less than 0.05, so we reject the Ho. Sample proportion of 0.63 cannot be considered >=0.7

# 2 proportion test

- my claim is that BLR has atleast 12% more engineers than Kharghar

- Ho prop(BLR) - prop(KHA) >= 0.12
- Ha prop(BLR) - prop(KHA) < 0.12

- In BLR, in a sample of 150 students, 125 were engineers

- In KHA, in a sample of 100 students, 75 were engineers

In [41]:
125/150 - 75/100

0.08333333333333337

In [42]:
# we need to check whether the difference between 0.083 and 0.12 is statistically significant or not.

ss = np.array([150,100])

en = np.array([125,75])

In [43]:
statsmodels.stats.proportion.proportions_ztest(en,ss,0.12, alternative = 'smaller')

(-0.7100469468046924, 0.23883751199295206)