1. capitalize() - Converts the first character to upper case

In [86]:
s1 = 'this is sample string'
s1.capitalize()

'This is sample string'

2. upper()	Converts a string into upper case

In [87]:
s1.upper()

'THIS IS SAMPLE STRING'

3. lower() Converts a string into lower case

In [88]:
s2 = 'STRING IN UPPER CASE'
s2.lower()

'string in upper case'

4. casefold() Converts string into lower case

In [89]:
s2.casefold()

'string in upper case'

5. count()	Returns the number of times a specified value occurs in a string

In [91]:
s1.count("i")

3

6. endswith() Returns true if the string ends with the specified value

In [92]:
s1.endswith('t')

False

7. find() Searches the string for a specified value and returns the position of where it was found

In [94]:
s1.find('g')

20

8. index()	Searches the string for a specified value and returns the position of where it was found

In [95]:
s1.index("h")

1

9. title()	Converts the first character of each word to upper case

In [96]:
s1.title()

'This Is Sample String'

10. isalnum()	Returns True if all characters in the string are alphanumeric

In [97]:
s1.isalnum()

False

11. isalpha()	Returns True if all characters in the string are in the alphabet

In [102]:
s1.isalpha()

False

In [103]:
s3="cdac"
s3.isalpha()

True

12. isascii()	Returns True if all characters in the string are ascii characters

In [104]:
s1.isascii()

True

13. isdecimal()	Returns True if all characters in the string are decimals

In [105]:
s1.isdecimal()

False

In [106]:
s4='12322'
s4.isdecimal()

True

14. isdigit()	Returns True if all characters in the string are digits

In [108]:
s1.isdigit()
s4.isdigit()

True

15. isidentifier()	Returns True if the string is an identifier

In [110]:
s1.isidentifier()

False

16. isupper()	Returns True if all characters in the string are upper case

In [112]:
s2.isupper()

True

17. islower()	Returns True if all characters in the string are lower case

In [113]:
s1.islower()

True

18. isnumeric()	Returns True if all characters in the string are numeric

In [116]:
s4.isnumeric()

True

19. isspace()	Returns True if all characters in the string are whitespaces

In [117]:
s5='                   '
s5.isspace()

True

20. istitle()	Returns True if the string follows the rules of a title

In [119]:
s1.istitle()
s7 = 'We Are Following Title Rules'
s7.istitle()

True

21. lstrip()	Returns a left trim version of the string

In [120]:
s8= '                        this is             new string                   '
s8.lstrip()

'this is             new string                   '

22. replace()	Returns a string where a specified value is replaced with a specified value

In [122]:
s1.replace('t','j')

'jhis is sample sjring'

23. rfind()	Searches the string for a specified value and returns the last position of where it was found

In [123]:
s1.rfind('t')

16

24. rindex()	Searches the string for a specified value and returns the last position of where it was found

In [126]:
s1.rindex('t')

16

26. rstrip()	Returns a right trim version of the string

In [127]:
s8.rstrip()

'                        this is             new string'

27. split()	Splits the string at the specified separator, and returns a list

In [128]:
s1.split()

['this', 'is', 'sample', 'string']

28. strip()	Returns a trimmed version of the string

In [130]:
s8.strip()

'this is             new string'

29. swapcase()	Swaps cases, lower case becomes upper case and vice versa

In [131]:
s9 = "THIS IS UPPERCASE this is lower case"
s9.swapcase()

'this is uppercase THIS IS LOWER CASE'