# Tuples

In [8]:
t=(10,20,30)
#tuple is static data type.
#we cannot modify tuple, but we can over-write in tuple.
#there are only 2 methods that can be used with tuple.
print(t,type(t),id(t))

(10, 20, 30) <class 'tuple'> 2664152338880

In [9]:
t=(40,50,60)
print(t,type(t),id(t))

(40, 50, 60) <class 'tuple'> 2664152400768

a list within a tuple is still dynamic

In [12]:
t=(10,20,[11,22,33])
t

(10, 20, [11, 22, 33])

In [13]:
#you can add element in list which is inside the tuple
t[2].append(44)
t

(10, 20, [11, 22, 33, 44])

In [15]:
t[2].append([55,66,77,88])
t

(10, 20, [11, 22, 33, 44, [55, 66, 77, 88], [55, 66, 77, 88]])

In [17]:
#accessing last element of sublist >> list >> tuple
t[2][-1][-1]

88

in interview, there are 2-3 question on indexing

# Sets

In [20]:
s={11,22,33,44,55}
print(s) #because set
s #it will print in sorted order

{33, 22, 55, 11, 44}

{11, 22, 33, 44, 55}

set taget uniqeness, custom index, heteroginity and dynamic behaviour.
set is not indexable.

1. union - (or),(|)
2. itersection - (and),(&)
3. symmetric difference - (^)
4. difference - (-)

In [21]:
a={1,2,3,4}
b={3,4,5,6}
print(a|b)
print(a&b)
print(a^b)
print(a-b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}
{1, 2}

In [24]:
emp={1,2,3,4,5,6,7,8,9}
drama={2,4,6,7}
sing={1,3,6,8}
sport={1,3,6,8}

In [25]:
drama&sing&sport

{6}

In [26]:
emp-drama-sing-sport

{5, 9}

In [27]:
drama|sing|sport

{1, 2, 3, 4, 6, 7, 8}

1. add(data) - add one item to the set
2. update(set) - add set
3. remove(data) - removes data
4. discard(data) - remove data without error, element is there or not it does not gives error

In [31]:
s=set()
print(type(s))

<class 'set'>

In [34]:
s.add(1)
s

{1}

In [36]:
s1={2,3,4,5,6}
s.update(s1)
s

{1, 2, 3, 4, 5, 6}

In [37]:
s.remove(4)
s

{1, 2, 3, 5, 6}

In [38]:
s.discard(4)
s

{1, 2, 3, 5, 6}

s.pop() - it will deletes first element (starting element) from the set

In [44]:
#list all elements in sorted manner with their count
l=[]
while True:
    n=input('enter number = ')
    if n=='':
        break
    else:
        l.append(int(n))
print('unique data = ')
for i in sorted(set(l)):
    print(i)
for j in set(l):
    print(l.count(j))

enter number = 22
enter number = 77
enter number = 11
enter number = 55
enter number = 99
enter number =
unique data =
11
22
55
77
99
1
1
1
1
1

In [45]:
#method 2
#list all elements in sorted manner with their count
l=[]
while True:
    n=input('enter number = ')
    if n=='':
        break
    else:
        l.append(int(n))
print('unique data = ')
for i in sorted(set(l)):
    print(i,'frequency = ',l.count(i))

enter number = 22
enter number = 11
enter number = 77
enter number = 66
enter number = 55
enter number = 22
enter number = 11
enter number = 88
enter number = 99
enter number = 66
enter number = 77
enter number = 55
enter number = 44
enter number =
unique data =
11 frequency =  2
22 frequency =  2
44 frequency =  1
55 frequency =  2
66 frequency =  2
77 frequency =  2
88 frequency =  1
99 frequency =  1

In [51]:
#method 2
#list all elements in sorted manner with their count
l=[]
while True:
    n=input('enter number = ')
    if n=='':
        break
    else:
        l.append(int(n))
print('unique data = ')
for i in sorted(set(l)):
    print(i,'frequency = ',l.count(i))

enter number = 11
enter number = 22
enter number = 33
enter number = 44
enter number = 55
enter number = 66
enter number = 11
enter number = 22
enter number = 33
enter number = 44
enter number = 55
enter number = 66
enter number =
unique data =
11 frequency =  2
22 frequency =  2
33 frequency =  2
44 frequency =  2
55 frequency =  2
66 frequency =  2

In [53]:
l=[]
max=0
while True:
    n=input('enter number = ')
    if n=='':
        break
    else:
        l.append(int(n))
print('unique data = ')
for i in sorted(set(l)):
    print(i,'frequency = ',l.count(i))
for i in sorted(set(l)):   
    if l.count(i)>max:
        max=l.count(i)
print(max)

enter number = 11
enter number = 22
enter number = 33
enter number = 44
enter number = 22
enter number = 11
enter number = 33
enter number =
unique data =
11 frequency =  2
22 frequency =  2
33 frequency =  2
44 frequency =  1
2

# Dictionary

dict{key:value}
    {id : data}
key is unique, data may be / may not be unique

In [ ]:
d={1:'one',2:'two',3:'three',4:'four',5:'five'}

In [54]:
if you used old key with new data it will update data.

SyntaxError: invalid syntax (2772060798.py, line 1)

In [58]:
dir={1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
n=int(input('enter number = '))
rev=0
while n>0:
    d=n%10
    n=n//10
    rev=rev*10+d
while rev>0:
    d=rev%10
    rev=rev//10
    print(dir[d],end=' ')

enter number = 1234
one two three four

Q. take a number and print only unique digits only in soreted manner in words 
input - 361421288
output - one two three four six eight

In [72]:
dir={1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
s=set()
n=int(input('enter number = '))
while n>0:
    d=n%10
    n=n//10
    s.add(d)
while rev>0:
    d=rev%10
    rev=rev//10
for i in sorted(s):
    print(dir[i],end=' ')

enter number = 123423
one two three four

if dictionary iterated, bydefault keys will printed

In [74]:
.values - 
.items -

SyntaxError: invalid syntax (2273151001.py, line 1)

print all keys, values, both keys & values.

# Strings

1. string remains immutable in python.
2. There are 4 methods to create string

a. s1 = 'string'
b. s2 = "string"
c. s3 = """string"""
d. s4 = '''string'''

+ -> (+) operator is used to concat two strings

In [1]:
for i in range(1,6,1):
    print("x "*i)

x
x x
x x x
x x x x
x x x x x

In [79]:
for i in range(1,10,2):
    print("x"*i)

x
xxx
xxxxx
xxxxxxx
xxxxxxxxx

In [85]:
for i in range(5,0,-1):
    print(' '*(6-i),'x'*i)

  xxxxx
   xxxx
    xxx
     xx
      x

In [90]:
for i in range(1,5,1):
    print(" "*(6-i),"x "*i)

      x
     x x
    x x x
   x x x x

In [91]:
for i in range(5,0,-1):
    print(' '*(6-i),'x '*i)

  x x x x x
   x x x x
    x x x
     x x
      x

In [92]:
s='abcdefghijk'
print(s[3:6])
print(s[:3])
print(s[4:])
print(s[::-1])
print(s[])

def

In [96]:
str=input("enter any word = ")
for i in range(1,len(str)+1):
    print(str[:i])

enter any word = hello
h
he
hel
hell
hello

In [98]:
str=input("enter any word = ")
for i in range(1,len(str)+1):
    print(' '*(len(str)-i),str[:i])

enter any word = hello
     h
    he
   hel
  hell
 hello

check a word is palindrome or not

In [103]:
str1=input('enter word = ')
str2=str1[::-1]
if str1==str2:
    print('its palindrome')
else:
    print('its not')

enter word = hello
its not

In [ ]:
in / not in - to check substring available or not

when string is given to set, it is broken in character sequence, unique, custom order.

In [105]:
str='python'
s=set(str)

In [112]:
#number of vowels in given string
#method 1
count=0
str=input("enter any string = ")
for i in str:
    if i in 'aeiou':
        count+=1
print(count)

enter any string = hello
2

In [113]:
#method 2
count=0
str=input("enter any string = ")
for i in str:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
print(count)

enter any string = hello
2

what is difference between capitalize() and title()
capitalize() - capitalizes first letter of string
title() - captalizes first letter of every word of string

In [116]:
s = 'tHis Is A TesT fOR uS'
s.swapcase()

'ThIS iS a tESt For Us'

In [117]:
s.upper()

'THIS IS A TEST FOR US'

In [118]:
s.title()

'This Is A Test For Us'

In [119]:
s.capitalize()

'This is a test for us'

In [120]:
s.count('s')

3

find - goes from start to end

rfind - goes from end to start(positive index)

In [123]:
s.find('s')

3

In [124]:
s.rfind('s')

12

In [127]:
s.center(30,'*')

'****tHis Is A TesT fOR uS*****'

In [128]:
s='lets play football'
s.replace('football','volleyball')

'lets play volleyball'

In [131]:
s='this is done by me'
s.replace('is','was')

'thwas was done by me'

In [132]:
s='this is done by me'
s.replace(' is',' was')

'this was done by me'

In [133]:
split() = it will split string into list

NameError: name 'split' is not defined

In [135]:
str = "    this   is   a    test    line      "
l = str.split()
print(len(str))

39

In [139]:
str = "1,12,123,1234"
l=str.split(',')
l

['1', '12', '123', '1234']

In [138]:
str = "    this   is   a    test    line      "
count=0
l = str.split()
print(len(str))
for i in l:
    count+=1
print("count = ",count)

39
count =  5

In [140]:
#method 2
print("words are = ",len((input("enter string = ")).split()))

enter string = hello guys myself vk
words are =  4

In [144]:
str=input("enter string = ")
count=str.count('a')+str.count('e')+str.count('i')+str.count('o')+str.count('u')
print('vowels = ',count)

enter string = hello guys
vowels =  3

In [152]:
line = "hello guys good evening"
rline=''
l=line.split()
l=l[::-1]
print(l)
for i in l:
    rline=rline+" "+i
print(rline)

['evening', 'good', 'guys', 'hello']
 evening good guys hello

In [154]:
str=input("enter string = ")
spl=str.split()
print(sorted(spl))

enter string = prasad sid vaibhav
['prasad', 'sid', 'vaibhav']

Q. frequency of each word in a line of string

In [ ]:
str=input("enter string = ")
wlist=str.split()
ulist=set(wlist)
for i in ulist(str.count())

always try to search word in a list and not in a normal string.
As normal string will trap substring also.

In [ ]:
str=input("enter string = ")
wlist=str.split()
print("word list = ",wlist)
for i in range(len(wlist)):
    print("at position = ",i,":",wlist[i])
    for j in range(i,len):
        if wlist[i]==wlist[j]:
            wlist.pop(j)

In [2]:
str1=input("enter string = ")
wlist=str1.split()
l=[]
for i in wlist:
    if i not in l:
        l.append(i)
        print(i,'added')
    else:
        print(i,'rejected')
print(l)

enter string = hello is it is it bye
hello added
is added
it added
is rejected
it rejected
bye added
['hello', 'is', 'it', 'bye']

In [5]:
str1=input("enter string = ")
wlist=str1.split()
l=[]
rline=''
for i in wlist:
    if i not in l:
        l.append(i)
        print(i,'added')
    else:
        print(i,'rejected')
print(l)
for i in l:
    rline=rline+" "+i
print(rline)

enter string = is is it hello hii hello hii bye
is added
is rejected
it added
hello added
hii added
hello rejected
hii rejected
bye added
['is', 'it', 'hello', 'hii', 'bye']
 is it hello hii bye

abcd
bcda
cdab
dadc
abcd

In [12]:
str=input("enter word = ")
l=[]
for i in str:
    l.append(i)
for i in range(0,len(str)):

SyntaxError: expected ':' (569842242.py, line 5)

In [ ]:
print a-z alphabets with ascii value
ord() - return ascii value
chr() - convert ascii to char

In [16]:
for i in range(97,(97+26)):
    print(chr(i),":",i)

a : 97
b : 98
c : 99
d : 100
e : 101
f : 102
g : 103
h : 104
i : 105
j : 106
k : 107
l : 108
m : 109
n : 110
o : 111
p : 112
q : 113
r : 114
s : 115
t : 116
u : 117
v : 118
w : 119
x : 120
y : 121
z : 122

In [1]:
s=input("enter start = ")
e=input("enter end = ")
for i in range(ord(s),ord(e)):
    print(i,":",chr(i))

enter start = d
enter end = j
100 : d
101 : e
102 : f
103 : g
104 : h
105 : i

combine two lines to make third line

In [1]:
str1=input("enter string 1 = ")
str2=input("enter string 2 = ")
l1=str1.split()
l2=str2.split()
l3=''
print(l1)
print(l2)
i=0
j=0
while i<len(l1) or j<len(l2):
    if i<len(l1):
        l3=l3+" "+l1[i]
        i+=1
    if j<len(l2):
        l3=l3+" "+l2[j]
        j+=1
print(l3)

enter string 1 = hello guys good morning
enter string 2 = welcome to cdac mumbai
['hello', 'guys', 'good', 'morning']
['welcome', 'to', 'cdac', 'mumbai']
 hello welcome guys to good cdac morning mumbai

combine two lists to make a dictionary

In [2]:
l1=[1,2,3,4]
l2=['aa','bb','cc','dd']
dir={}
for i in range(len(l1)):
    dir[l1[i]]=l2[i]
print(dir)

{1: 'aa', 2: 'bb', 3: 'cc', 4: 'dd'}

in a given dictionary delete some data

In [4]:
todel=[1,4]
for i in todel:
    print("deleted = ",dir.pop(i))
print(dir)

deleted =  aa
deleted =  dd
{2: 'bb', 3: 'cc'}

In [8]:
#check if the value is available in dictionary or not
c=input("enter element = ")
for i in dir:
    if i in dir.keys():
        print('its available')
    else:
        print('its not available')

enter element = aa
its available
its available

In [ ]:
dir2={'m1':77,'m2':67,'m3':97,'m4':87,'m5':7,'m6':47}
keys=d.