# Functions

Function - set of code

What is use of functions?
1. Modularity - divide into smaller parts
2. Reusability - 
3.

In [2]:
def function():
    print('hello its a function')
function()

hello its a function

In [4]:
print('main starts')
print('function call')
function()
print('main ends')

main starts
function call
hello its a function
main ends

In [5]:
def max(n1,n2):
    if n1>n2:
        print(n1,'is max')
    else:
        print(n2,'is max')

In [6]:
max(1,4)

4 is max

In [7]:
max(4.5,9.6)

9.6 is max

In [8]:
max('hello','yellow')

yellow is max

In [9]:
max(True,False)

True is max

Document String
1. optional
2. tells about function
3. only for user
4. first line after function definition

In [10]:
def max(n1,n2):
    '''It will find out maximum from 2 numbers'''
    if n1>n2:
        print(n1,'is max')
    else:
        print(n2,'is max')

In [12]:
max(12,21)

21 is max

Bydefault python support datatype with overloading

maximum of 4 numbers

In [19]:
def max(n1,n2):
    '''It will find out maximum from 2 numbers'''
    if n1>n2:
        return n1
    else:
        return n2

In [21]:
print('maximum number = ',max(max(21,43),max(76,65)))

maximum number =  76

Python uses pass by value for primitive datatype and pass by reference for data structure.

In [25]:
def duble(n):
    print('in function, before changing value = ',n)
    n=n*2
    print('in function, after changing value = ',n)

In [26]:
print('in main = ')
n=int(input('enter any number = '))
print('in main, before changing value = ',n)
duble(n)
print('in main, before changing value = ',n)

in main =
enter any number = 15
in main, before changing value =  15
in function, before changing value =  15
in function, after changing value =  30
in main, before changing value =  15

In [31]:
def double(n):
    print('in function, before changing value = ',n)
    n[0]*=2
    print('in function, after changing value = ',n)

In [32]:
print('in main = ')
n=[10]
print('in main, before changing value = ',n)
double(n)
print('in main, before changing value = ',n)

in main =
in main, before changing value =  [10]
in function, before changing value =  [10]
in function, after changing value =  [20]
in main, before changing value =  [20]

# recursion

1. It should not be the first option to use
2. stack memory used in recursion

Disadvantages of recursion

1. code is complicated to understand
2. takes more time to execute than usual
3. takes more memory than expected

Q. if no1%no2==0 no2 is gcd else let no1=no2 and no2 be no1%no2

In [37]:
def gcd(n1,n2):
    if n1%n2==0:
        return n2
    else:
        return gcd(n2,n1%n2)

In [38]:
gcd(22,32)

2

In [39]:
gcd(18,12)

6

# return statement

1. gives control,data or both back to other script.
2. In python, return statement can return multiple elements in a form of **tuple only**.

In [44]:
def descend(n1,n2,n3):
    l=[]
    if n1>n2 and n1>n3:
        if n1>n3:
            return n1,n2,n3
        else:
            return n1,n3,n2
    elif n2>n1 and n2>n3:
        if n1>n3:
            return n2,n1,n3
    elif n3>n1 and n3>n2:
        if n1>n2:
            return n3,n1,n2
        else:
            return n3,n2,n1

In [45]:
descend(12,43,65)

(65, 43, 12)

In [ ]:
def descend(n1,n2,n3):
    l=[]
    if n1>n2:
        if n1>n3:
            return n
        if n1>n3:
            return n1,n2,n3
        else:
            return n1,n3,n2
    elif n2>n1 and n2>n3:
        if n1>n3:
            return n2,n1,n3
    elif n3>n1 and n3>n2:
        if n1>n2:
            return n3,n1,n2
        else:
            return n3,n2,n1

In [46]:
def intro(name,native):
    print('hi i am',name,'from',native)

In [52]:
intro('vaibhav','mumbai')
intro(native='airoli',name='prasad')

hi i am vaibhav from mumbai
hi i am prasad from airoli

1. mechanism of python to allow parameters in any order but with precise key.
2. features get activated from calling

In [55]:
intro(name="vaibhav")
intro(native='pune')

TypeError: intro() missing 1 required positional argument: 'native'

1. default values are mentioned / given in definition and after picked up / accept it when not given in calling
2. is any specific value needs to be mentioned, used key-value parameter

In [58]:
def hobbies(*hlist):
    print(type(hlist))
    print("total hobbies = ",len(hlist))
    for i in hlist:
        print('->',i)

In [77]:
print(hobbies('travel','ride'))

<class 'tuple'>
total hobbies =  2
-> travel
-> ride
None

1. variable size parameter mentioned in function definition.
2. all parameters recorded in tuple and sent.

In [64]:
#Q. Accept n parameters from and return its total
def add(*ele):
    summ=0
    for i in ele:
        summ+=i
        return summ

In [75]:
print(add(12,12,12))

12

In [67]:
def total(*ele):
    return sum(ele)

In [68]:
total(32,32,32)

96

In [72]:
#calculate x**n using power function where default value of x and n is 1 not given
def power(x=1,n=1):
    x=x**n
    return x

In [74]:
print(power(4,2))

16

# iterator

1. It iterates over bunch of values, one at a time manner
2. Iterator has a limitation of supporting sequence, this is recovered from generator

# generator

1. It is a function which run in partial manner every time next is called.
2. Internally function carries yeild statement which breaks the function and returns the value.
3. It is used to generate output, after every iteration.

# decorator

1. works on polymorphic function / function polymorphism which is ability of giving alternate identifier to existing function.
2. In this, we have internal old function which is reused by external decorator function and addressed using function polymorphism.

In [82]:
roll_no=[1,2,3,4,5,6,7,8,9]
i=iter(roll_no)

In [84]:
next(i)

2

In [86]:
def fd(amount,roi):
    y=1
    print('at end of first year = ')
    yield(amount*(roi/100)*y)
    y+=1
    print('at end of second year = ')
    yield(amount*(roi/100)*y)
    y+=1
    print('at end of third year = ')
    yield(amount*(roi/100)*y)

In [92]:
i=fd(10000,7)

In [93]:
next(i)

at end of first year =

700.0000000000001

# lambda function

1. It is anonomous function which means function without identifier / name.
2. It gets attached to a variable which will be used to call it.
3. lambda / function cannot be a multiple line, it can only be of one line.
4. syntax - lambda parameters :expression

In [94]:
add=lambda a,b:a+b

In [95]:
add(10,15)

25

# local variables and global variables

1. Global variable can be accessed by anybody.
2. Local variables are variables within the function or method, only accessible locally(at higher precidence than global).
3. If a local function tries to operate on global data, then scope resolution is needed, otherwise error would be called.
4. scope resolution syntax - global variable_name

In [96]:
x=10
def fun():
    print(x)

In [97]:
fun()

10

In [101]:
x=10
def fun():
    x=100
    print("inside function = ",x)

In [102]:
fun()

inside function =  100

In [103]:
x=10
def fun():
    global x
    x+=1
    print("inside function = ",x)
print("outside function = ",x)

outside function =  10

In [104]:
fun()

inside function =  11

In [3]:
def fun(data):
    data +="vaibhav"
    print("in function = "+data)

In [4]:
x='python'
fun(x)
print("in main = ",x)

in function = pythonvaibhav
in main =  python