In [1]:
class fun():
    def __init__(self):
        self.name=input('enter name = ')
    def __del__(self):
        print('R.I.P',self.name)

In [3]:
f=fun()

enter name = vaibhav
R.I.P vk

In [4]:
class A:
    def my(self):
        print("A's my")
class B:
    def my(self):
        print("B's my")
class C:
    def my(self):
        print("C's my")

create a class circle, with a method read r and print area of a circle.

In [67]:
class Circle():
    def read(self,r):
        self.r=r
    def area(self):
        print("area of circle is",3.14*self.r**2)

In [68]:
c=Circle()

In [69]:
r=float(input('enter radius = '))
c.read(r)
c.area()

enter radius = 4
area of circle is 50.24

In [92]:
class Emp():
    def __init__(self,id,name,salary):
        self.__id=id
        self.__name=name
        self.__salary=salary
    def printDetails(self):
        print('id = ',self.__id)
        print('name = ',self.__name)
        print('salary = ',self.__salary)

In [93]:
i=int(input('enter id = '))
n=input('enter name = ')
s=input('enter salary = ')
e1=Emp(i,n,s)
e1.printDetails()

enter id = 1213
enter name = fgf
enter salary = 4324
id =  1213
name =  fgf
salary =  4324

In [72]:
class Emp():
    def __init__(self,id,name,salary):
        self.__id=id
        self.__name=name
        self.__salary=salary
    def __str__(self):
        return 'id = '+str(self.__id)+'name = '+self.__name+'salary = '+str(self.__salary)

In [73]:
i=int(input('enter id = '))
n=input('enter name = ')
s=input('enter salary = ')
e=Emp(i,n,s)

enter id = 23
enter name = dfwf
enter salary = 3213

In [100]:
class Employee():
    count=202300
    def __init__(self,name,salary):
        Employee.count+=1
        self.__id=Employee.count
        self.__name=name
        self.__salary=salary
        print("id = ",self.__id)
    def __str__(self):
        return 'id = '+str(self.__id)+'name = '+self.__name+'salary = '+str(self.__salary)

In [102]:
n=input('enter name = ')
s=input('enter salary = ')
e=Employee(n,s)

enter name = vk
enter salary = 3424
id =  2025

In [85]:
class Emp:
    count=202300
    def __init__(self,name,salary):
        Emp.count+=1
        self.__id=Emp.count
        self.__name=name
        self.__salary=salary
        print("Record added:ID-->",self.__id)
    def __str__(self):
        return str(self.__id)+" "+self.__name+" "+str(self.__salary)

In [87]:
l=[]
for i in range(1,11):
    n=input("Enter name:")
    s=float(input("salary:"))
    e=Emp(n,s)
    l.append(e)

Enter name:vfdfg
salary:34
Record added:ID--> 202310
Enter name:fgd
salary:453
Record added:ID--> 202311
Enter name:fdg
salary:453
Record added:ID--> 202312
Enter name:gdf
salary:43535
Record added:ID--> 202313
Enter name:gg
salary:453
Record added:ID--> 202314
Enter name:dfgd
salary:4553
Record added:ID--> 202315
Enter name:dd
salary:453
Record added:ID--> 202316
Enter name:gdg
salary:5453
Record added:ID--> 202317
Enter name:dfg
salary:43
Record added:ID--> 202318
Enter name:fdggf
salary:4534
Record added:ID--> 202319

In [89]:
for i in l:
    print(i)

202310 vfdfg 34.0
202311 fgd 453.0
202312 fdg 453.0
202313 gdf 43535.0
202314 gg 453.0
202315 dfgd 4553.0
202316 dd 453.0
202317 gdg 5453.0
202318 dfg 43.0
202319 fdggf 4534.0

In [ ]:
create bank account
deposit
min 2k balance

In [103]:
import math

In [132]:
class Circle:
    def read(self,r):
        self.r=r
    def area(self):
        print('area of circle is',3.14*self.r**2)

In [133]:
c=Circle()

In [134]:
r=int(input('enter radius for circle = '))
c.read(r)
c.area()

enter radius for circle = 4
area of circle is 50.24

In [135]:
class Insan:
    pass

In [136]:
i=Insan()

In [137]:
setattr(i,"name","abc")

In [138]:
getattr(i,"name")

'abc'

In [2]:
#create a bank class 
# has amount,accountno,name
# createaccount(constructor)-user only gives name and amount 
# account number auto generated
#withdraw(amount):should not be -ve amount and min 
# balance is 2000 else reject transection
#deposite(amount):amount can not be -ve
#checkbalance():shows balance and account holder name

'''
menu driven code to 
1 create account
2 withdraw
3 deposit
4 check balance
5 exit
1---->create by takingvalues and auto generate account number
2/3/4--->ask account number ,search account and then operate'''


class Bank():
    acc_no=202300
    def __init__(self,name,balance):
        Bank.acc_no+=1
        self.__acc_no=Bank.acc_no
        self.__name=name
        self.__balance=balance
    def __str__(self):
        return "account no = "+str(self.__acc_no)+" name = "+self.__name+" amount = "+str(self.__balance)
    def getacc_no(self):
        return self.__acc_no
    def withdraw(self,balance):
        self.__balance-=balance
    def deposit(self,balance):
        self.__balance+=balance
    def getbalance(self):
        return self.__balance

In [ ]:
l=[]
while True:
    print("1.Create\n2.Withdraw\n3.Deposit\n4.Checkbalance\n5.Print all details\n6.Exit")
    ch=int(input(":"))
    if ch==1:
        n=input("enter account holder name = ")
        a=float(input("account opening balance = "))
        b=Bank(n,a)
        l.append(b)
        print(b)
    #withdraw
    elif ch==2:
        an=int(input('enter account number = '))
        flag=False
        for i in l:
            if i.getacc_no()==an:
                print('account found')
                flag=True
                print(i)
                if i.getbalance()>=2000:
                    am=float(input('enter amount to withdraw = '))
                    if am>0:
                        i.withdraw(am)
                        print("money withdrawal",i)
                    else:
                        print('please enter valid amount to enter')
                else:
                    print("you have reach your min limit, so you are not able to withdraw")
                break
        if flag==False:
            print('account not found')
    #deposit
    elif ch==3:
        an=int(input('enter account number = '))
        flag=False
        for i in l:
            if i.getacc_no()==an:
                print('account found')
                flag=True
                print(i)
                am=float(input('enter amount to deposit = '))
                if am>0:
                    i.deposit(am)
                    print("money deposited",i)
                    break
                else:
                    print('please enter valid amount')
        if flag==False:
            print('not found')
    #checkbalance
    elif ch==4:
        an=int(input('enter account number = '))
        flag=False
        for i in l:
            if i.getacc_no()==an:
                print('account found')
                flag=True
                print(i)
        if flag==False:
            print('not found')
    #print all account details
    elif ch==5:
        if len(l)==0:
            print("empty list")
        else:
            for i in l:
                print(i)                
    #break
    elif ch==6:
        print("bye")
        break
    else:
        print("please enter valid choice")

1.Create
2.Withdraw
3.Deposit
4.Checkbalance
5.Print all details
6.Exit