1. Reverse a list in Python

In [2]:
l=[10,20,30,40,50,60]
l[::-1]

[60, 50, 40, 30, 20, 10]

2. Concatenate two lists index-wise

In [21]:
l1=['m','na','i','vai']
l2=['y','me','s','bhav']
j=0
l3=[]
for i in l1:
    l3.append(i+l2[j])
    j+=1
l3

['my', 'name', 'is', 'vaibhav']

3. Turn every item of a list into its square

In [5]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[]
for i in l1:
    l2.append(i*i)
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

4. Concatenate two lists in the following order

In [23]:
l1=["Hello ", "take "]
l2=["Dear", "Sir"]
l3=[]
for i in l1:
    for j in l2:
        l3.append(i+j)
l3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

5. Iterate both lists simultaneously

In [24]:
l1 = [10,20,30,40]
l2 = [100,200,300,400]
for i in range(0,len(l1)):
    print(l1[i],l2[len(l2)-1-i])

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings

In [9]:
l1=["Mike", "", "Emma", "Kelly", "", "Brad"]
l2=[]
for i in l1:
    if i!='':
        l2.append(i)
l2

['Mike', 'Emma', 'Kelly', 'Brad']

7. Add new item to list after a specified item

In [15]:
l=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l[2][2].append(7000)
l

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Extend nested list by adding the sublist

In [17]:
l1=["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
l2=["h", "i", "j"]
l1[2][1][2].extend(l2)
l1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Replace listâ€™s item with new value if found

In [18]:
l=[5,10,15,20,25,50,20]
index=l.index(20)
l[index]=200
l

[5, 10, 15, 200, 25, 50, 20]

10. Remove all occurrences of a specific item from a list.

In [25]:
l1=[5, 20, 15, 20, 25, 50, 20]
l2=[]
for i in l1:
    if i!=20:
        l2.append(i)  
l2

[5, 15, 25, 50]