1. Check number is less than 10

In [2]:
n = int(input("enter any number = "))
if n > 10:
    print(n,"is greater than 10")
elif n<10:
    print(n,"is smaller than 10")
else:
    print(n,"is equals to 10")

enter any number = 6
6 is smaller than 10

2.  Check numbers are equivalent

In [4]:
n1 = int(input("enter any number 1 = "))
n2 = int(input("enter any number 2 = "))
if n1 == n2:
    print(n1,"is equals to",n1)
else:
    print(n,"is not equals to",n2)

enter any number 1 = 56
enter any number 2 = 56
56 is equals to 56

3. check voting eligibility

In [7]:
age = int(input("enter age to check = "))
if age < 18:
    print("you are not eligible to vote")
else:
    print("you can apply for the voting")

enter age to check = 18
you can apply for the voting

4. Check if number is even or odd

In [9]:
n = int(input("enter any number = "))
if n%2==0:
    print(n,"is a even number")
else:
    print(n,"is a odd number")

enter any number = 45
45 is a odd number

5. Enter three angles & check if it is a triangle

In [13]:
angle1 = int(input("enter angle 1 = "))
angle2 = int(input("enter angle 2 = "))
angle3 = int(input("enter angle 3 = "))
sum = angle1 + angle2 + angle3
if sum == 180 and angle1 > 0 and angle2 > 0 and angle3 > 0 :
    print("triangle is valid")
else:
    print("triangle is not valid")

enter angle 1 = 30
enter angle 2 = 60
enter angle 3 = 90
triangle is valid

6. Find total marks & percentage

In [6]:
n = int(input("enter total number of subjects = "))
total = 0
for i in range(n):
    i = int(input("enter marks for subject = "))
    total = total + i
avg = total / n
print("total is",total)
print("average of marks is",avg)

enter total number of subjects = 5
enter marks for subject = 10
enter marks for subject = 10
enter marks for subject = 10
enter marks for subject = 10
enter marks for subject = 10
total is 50
average of marks is 10.0

7. Check for leap year

In [11]:
y = int(input("enter any year = "))
if y%4==0 and y%100!=0 or y%400==0:
    print(y,"is a leap year")
else:
    print(y,"is not a leap year")

enter any year = 2024
2024 is a leap year

8. Check number is positive, negativeve or zero

In [13]:
n = int(input("enter any number = "))
if n > 0:
    print(n,"is positive number")
elif n<10:
    print(n,"is negative number")
else:
    print(n,"is zero")

enter any number = 12
12 is positive number

9. Largest amongst three numbers

In [1]:
n1 = int(input("enter number 1 = "))
n2 = int(input("enter number 2 = "))
n3 = int(input("enter number 3 = "))
if n1 > n2:
    if n1 > n3:
        print(n1,"is the largest number among three")
    else:
        print(n3,"is the largest number among three")
elif n2 > n3:
    print(n2,"is the largest number among three")
else:
    print(n3,"is the largest number among three")

enter number 1 = 10
enter number 2 = 13
enter number 3 = 18
18 is the largest number among three

10. Print grade of employee

In [15]:
s = float(input("enter salary of the employee = "))
if s>=50000:
    print("Managers")
elif s>=30000:
    print("Team Leaders")
elif s>=20000:
    print("Trainee")
else:
    print("Majdoor")

enter salary of the employee = 35000
Team Leaders

11. Print color name

12. Print gross salary of employee

In [34]:
basic = float(input("print basic salary = "))
da = (40*basic) / 100
ta = (20*basic) / 100
gross_salary = basic + da + ta
print("gross salary = ",gross_salary)

print basic salary = 10000
gross salary =  16000.0

13. Print division scored by student

In [12]:
per = float(input("enter percentage = "))
if per>=60:
    print("its first class")
elif per>=50:
    print("its second class")
elif per>=40:
    print("its third class")
else:
    print("faild")

enter percentage = 67
its first class

14. Find greatest among 3 numbers

In [14]:
n1 = int(input("enter number 1 = "))
n2 = int(input("enter number 2 = "))
n3 = int(input("enter number 3 = "))
if n1 > n2:
    if n1 > n3:
        print(n1,"is the greatest number among three")
    else:
        print(n3,"is the greatest number among three")
elif n2 > n3:
    print(n2,"is the greatest number among three")
else:
    print(n3,"is the greatest number among three")

enter number 1 = 12
enter number 2 = 24
enter number 3 = 19
24 is the greatest number among three

15. Check if student scored distinction

In [18]:
per = float(input("enter percentage = "))
if per>=75:
    print("its first class with distinction")
else:
    print("its first class")

enter percentage = 78.33
its first class with distinction

16. Check type of triangle

In [1]:
s1 = int(input("enter side 1 = "))
s2 = int(input("enter side 2 = "))
s3 = int(input("enter side 3 = "))

if s1 == s2 and s2 == s3 and s3 == s1:
    print("the triangle is equilateral")
elif s1 == s2 or s2 == s3 or s3 == s1:
    print("the triangle is isosceles")
else:
    print("the triangle is scalene")

enter side 1 = 12
enter side 2 = 12
enter side 3 = 12
the triangle is equilateral

17. Check sum of digit greater than 10

In [10]:
n = int(input("enter number = "))
tno=n
sum=0
while n>0:
    d=n%10
    n=n//10
    sum=sum+d
if sum > 10:
    print("sum of digits of",tno,"is greater than 10")
else:
    print("sum of digits of",tno,"is not greater than 10")

enter number = 123
sum of digits of 123 is not greater than 10

18. Print single digit number in words

In [30]:
n = int(input("enter number = "))
if n==0:
    print("zero")
elif n==1:
    print("one")
elif n==2:
    print("two")
elif n==3:
    print("three")
elif n==4:
    print("four")
elif n==5:
    print("five")
elif n==6:
    print("six")
elif n==7:
    print("seven")
elif n==8:
    print("eight")
elif n==9:
    print("nine")
else:
    print("the number is not a single digit number")

enter number = 4
four

19. Print numbers in words

In [32]:
# 19. Print numbers in words

n = int(input('Enter a number : '))
l = []

while n > 0:
    
    d = n%10
    n = n//10
    l.append(d)
l.sort()
for i in l:
    if i==1:
        print('one',end=' ')
    elif i==2:
        print('two',end=' ')
    elif i==3:
        print('three',end=' ')
    elif i==4:
        print('four',end=' ')
    elif i==5:
        print('five',end=' ')
    elif i==6:
        print('six',end=' ')
    elif i==7:
        print('seven',end=' ')
    elif i==8:
        print('eight',end=' ')
    else :
        print('nine',end=' ')

Enter a number : 123
one two three

20. Read a day of week in digit

In [29]:
d = int(input("enter day in digit = "))
if d==1:
    print("monday")
elif d==2:
    print("tuesday")
elif d==3:
    print("wednesday")
elif d==4:
    print("thusday")
elif d==5:
    print("friday")
elif d==6:
    print("saturday")
elif d==7:
    print("sunday")
else:
    print("There are only 7 days in a week")

enter day in digit = 4
thusday

21. Perform arithmetic operations

In [11]:
n1 = input("Enter number 1 = ")
n2 = input("Enter number 2 = ")
add = float(n1) + float(n2)
sub = float(n1) - float(n2)
mul = float(n1) * float(n2)
div = float(n1) / float(n2)
print("addition = ",add)
print("subtraction = ",sub)
print("multiplication = ",mul)
print("division = ",div)

Enter number 1 = 20
Enter number 2 = 10
addition =  30.0
subtraction =  10.0
multiplication =  200.0
division =  2.0

22. Check alphabet is vowel or consonant

In [8]:
c = input("enter character to check = ")
if c=='a' or c=='e' or c=='i'or c=='o' or c=='u':
    print(c,"is a vowel")
else:
    print(c,"is a consonant")

enter character to check = e
e is a vowel

23. Check number is even or odd

In [9]:
n = int(input("enter any number = "))
if n%2==0:
    print(n,"is a even number")
else:
    print(n,"is a odd number")

enter any number = 34
34 is a even number

24. Right Shift and Left Shift Operations

In [14]:
n = int(input("enter any number = "))
print("a << 1 =", n << 1)
print("b >> 1 =", n >> 1)

enter any number = 10
a << 1 = 20
b >> 1 = 5